<%= form_tag(add_project_collection_path(@collection.name), :method => "post") do %>
	<%= render partial: "projects/select_project", locals: {placeholder: "project to be added"} %>
	<button type="submit" class="short_button" title="Add"><i class="fa fa-plus" aria-hidden="true"></i></button>
<% end %>
