<span class="gear-icon" data-is-reload-necessary="<%= @collection.has_unfinished_jobs? %>">
	<a href=<%= collection_jobs_path(@collection.name) %>>
		<span class = ''><%= icon_job(@collection) %></span>
	</a>
</span>
