<%= form_tag(collections_path({grid: {f: {is_sharedtask: ['t']}}}), method: 'get', :style=>'display:inline-block') do -%>
  <%= text_field_tag 'grid[f][name]', params[:text], :required => true, :size => 10 -%>
	<button type="submit" class="short-button" title="Search"><i class='fa fa-search' aria-hidden='true'></i></button>
<% end -%>
