#logo{
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  margin: 0 5px;
}

.main-nav ul {
  padding: 0;
  margin: 0;
}

.main-nav li {
  display: inline-block;
  margin: 0;
}

.main-nav li a {
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  padding: 5px;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
}

.main-nav li a:hover {
  background: #202020;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.main-nav li.current a {
  background: #fc0;
  color: #222;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
  text-shadow: 0 1px 0 rgba(255,255,255,.3);
}

.mobile-nav ul {
  overflow: hidden;
  width: 100%;
  display: table;
}

.mobile-nav a {
  float: left;
  width: 100%;
  background: #333;
  color: #fc0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  padding: 5px;
  border-radius: 5px;
}

.mobile-nav .current a {
  background: #fc0;
  color: #222;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
  text-shadow: 0 1px 0 rgba(255,255,255,.3);
}

.mobile-nav li {
  display: table-cell;
  width: 25%;
  padding: 7px;
}

.notice {
  margin: 5px 0;
}

.notice ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.notice ul li {
  margin: 5px 0 0 0;
  padding: 0;
}

@media (max-width: 723px) {
  #header {
    text-align: center;
  }
  #logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 830px){
  .main-nav .show-on-mobiles {
    display: inline;
  }
  .main-nav .hide-on-mobiles {
    display: none;
  }
}

