<% result = JSON.parse @evaluation.result, :symbolize_names => true %>

<section>
	<p>
		Below is the result of evaluation performed for the <%= number_with_delimiter(@num_docs, :delimiter => ',') %> documents that are shared by the study and the reference projects.
	</p>

	<h1>Denotations</h1>
	<%= render partial: 'measures', locals: {type: :denotation, counts: result[:counts][:denotations], measures: result[:measures][:denotations]} %>
</section>

<% if result[:counts][:relations].present? %>
	<section>
		<h1>Relations</h1>
		<%= render partial: 'measures', locals: {type: :relation, counts: result[:counts][:relations], measures: result[:measures][:relations]} %>
	</section>
<% end %>
