<% content_for :path do -%>
  > <%= link_to t('views.paths.home'), home_path -%>
  > annotators
<% end -%>

<section>
<h1>Annotators</h1>
<p>Below is a list of pre-registered, automatic annotation services which are interoperable with PubAnnotation.</p>
<p>If you do not know an applicable annotation service to your purpose, you may want to take a look at <a href="http://pubdictionaries.org">PubDictionaries</a>, which is a highly customizable, dictionary-based text annotation service.</p>

<%=
  grid(@annotators_grid) do |g|

    g.column name: 'Name', attribute: 'name' do |annotator|
      [link_to(name_with_private_indicator(annotator).html_safe, annotator, style: 'display:block'), {style: 'width:15em'}]
    end

    g.column name: 'Description', attribute: 'description' do |annotator|
      [link_to(strip_tags(annotator.description), annotator, style: 'display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis'), {style: 'max-width: 40em'}]
    end

    g.column name: 'Maintainer', attribute: 'username', assoc: :user do |annotator|
      [link_to(annotator.user.username, show_user_path(annotator.user.username), style: 'display:block'), {style: 'width:10em; text-align:center'}]
    end

    g.column name: 'Updated_at', attribute: 'updated_at', class: 'column-project-updated' do |annotator|
      [annotator.updated_at.strftime('%Y-%m-%d'), {style: 'text-align:center'}]
    end
  end
-%>

<%= link_to 'Create a new annotator', new_annotator_path, {:class=> 'control button'} %>
</section>
