<% content_for :path do -%>
  > <%= link_to t('views.paths.home'), home_path -%>
  > annotators
<% end -%>

<section>
<h1>Annotators</h1>
<p>Below is a list of automatic annotation services which are interoperable with PubAnnotation.</p>

<%=
  grid(@annotators_grid) do |g|

    g.column name: 'Name', attribute: 'name' do |annotator|
      [link_to(annotator.name, annotator), {style: 'width:10em; text-align:center'}]
    end

    if current_user.present?
      g.column do |annotator|
        badge_public(annotator.is_public).html_safe
      end
    end

    g.column name: 'Description', attribute: 'description' do |annotator|
      [strip_tags(annotator.description), {style: 'max-width: 20em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis'}]
    end

    g.column name: 'Maintainer', attribute: 'username', assoc: :user do |annotator|
      [annotator.user.username, {style: 'width:10em; text-align:center'}]
    end

  end
-%>

<%= link_to 'Create a new annotator', new_annotator_path, {:class=> 'control button'} %>
</section>
