<%= render :partial => 'sqls/form' -%>

<% if @pmdocs.present? -%>
	<table style="margin-bottom: 1em">
		<tr>
			<% @columns.each do |column|-%>
				<th>
					<%= column -%>
				</th>
			<% end -%>
		</tr>
		<% @pmdocs.each do |pmdoc| -%>
			<tr>
				<% @columns.each do |column|-%>
					<td>
						<%= pmdoc[column] -%>
					</td>
				<% end -%>
			</tr>
		<% end -%>
	</table>
	
	<%= will_paginate @pmdocs -%>
<% end -%>

