<%= render :partial => 'sqls/form' -%>

<% if @relations.present? -%>
	<table style="margin-bottom: 1em">
		<tr>
			<% @columns.each do |column|-%>
				<th>
					<%= column -%>
				</th>
			<% end -%>
		</tr>
		<% @relations.each do |relation| -%>
			<tr>
				<% @columns.each do |column|-%>
					<td>
						<%= relation[column] -%>
					</td>
				<% end -%>
			</tr>
		<% end -%>
	</table>
	
	<%= paginate @relations -%>
<% end -%>

