<fieldset id='show_selected_projects' style="display:inline-block; width:fill; vertical-align: middle">
<legend>
<%= autocomplete_field_tag 'project_name', '', autocomplete_project_name_projects_path, style: "width:12em; text-align:left", placeholder: "project name" %>
<i id="add_project" class="fa fa-plus-circle", title="Add"></i>
</legend>
</fieldset>
<textarea id="selected_projects" name="projects" required="true" style="display:none">
<%= params[:projects] ? params[:projects] : (@project ? @project.name : '') %>
</textarea>

<script>
	$(function() {
		update_show_selected_projects();
	});

	$('#add_project').on("click", function() {
		var project_name = $('#project_name').val();
		check_and_add_project(project_name)
	});

	$('#show_selected_projects').on('click', '.remove_icon', function() {
		$(this).parent().remove();
		update_selected_projects();
	});

	function set_project_selection(selected_projects_concat) {
		if (!selected_projects_concat) {selected_projects_concat = "<%= params[:projects] ? params[:projects] : @project.name %>"}
		$('#selected_projects').text(selected_projects_concat);
		update_show_selected_projects();
	}

	function check_and_add_project(project_name) {
		$.get("/projects/" + project_name + ".json", function(data) {
			$('#project_name').val("");
			add_project(project_name);
		});
	}

	function add_project(project_name) {
		if (!selected_project_p(project_name)) {
			$('#show_selected_projects').append(project_object(project_name));
			update_selected_projects();
		}
	}

	function update_selected_projects() {
		var selected_projects_concat = $('#show_selected_projects .project_object').map(function(){
			return this.id;
		}).get().join();
		$('#selected_projects').text(selected_projects_concat);
	}

	function update_show_selected_projects() {
		var selected_projects_concat = $('#selected_projects').text().trim();
		clear_show_selected_projects();
		if (selected_projects_concat) {
			var selected_projects = selected_projects_concat.split(",");
			for (i in selected_projects) {add_project(selected_projects[i])}
		}
	}

	function clear_show_selected_projects() {
		$('#show_selected_projects .project_object').remove();
	}

	function selected_project_p(project_name) {
		return $('#' + project_name).length > 0;
	}

	function project_object(project_name) {
		obj = '<div class="project_object" id="' + project_name + '">'
		+ '<a class="name" href="' + '<%= projects_path %>' + '/' + project_name + '">' + project_name + '</a>'
		+ ' '
		+ '<i class="fa fa-minus-circle remove_icon", title="Remove"></i>'
		+ '</div>';
		return obj;
	}
</script>
