<section>
	<%= render :partial => 'preamble' -%>

	<% if @solutions %>
		<section>
			<h2>Results</h2>

			<div class="page_info">
				<span>&nbsp;</span>
				<span class="num_solutions"><%= @num_solutions %> results</span>
			</div>

			<% vars = @solutions["head"]["vars"] %>
			<table style="table-layout:fixed; width:100%">
				<tr>
					<% vars.each do |h| %>
						<th><%= h %></th>
					<% end %>
				</tr>
				<% @solutions["results"]["bindings"].each do |binding| %>
					<% if binding.present? %>
						<tr>
							<% vars.each do |h| %>
								<% v = binding[h] %>
								<td>
									<%=
										if v.present?
											v['type'] == 'uri' ? link_to(v['value'], v['value']) : v['value']
										else
											'-'
										end
									%>
								</td>
							<% end %>
						</tr>
					<% end %>
				<% end %>
			</table>
		</section>
	<% end %>
</section>
