<h1>Listing insanns</h1>

<table>
  <tr>
    <th>Hid</th>
    <th>Type</th>
    <th>Annset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @insanns.each do |insann| %>
  <tr>
    <td><%= insann.annset_name %></td>
    <td><%= insann.hid %></td>
    <td><%= insann.type %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Insann', new_insann_path %>
