<h1>Listing insanns</h1>

<table>
  <tr>
    <th>Annset</th>
    <th>Hid</th>
    <th>Type of instantiation</th>
    <th>Object of instantiation</th>
    <th></th>
    <th></th>
  </tr>

<% @insanns.each do |insann| %>
  <tr>
    <td><%= insann.annset_name %></td>
    <td><%= insann.hid %></td>
    <td><%= insann.instype %></td>
    <td><%= insann.insobj_hid %></td>
  </tr>
<% end %>
</table>
