<h1>Instance annotations</h1>

<table class="ann">
  <tr>
    <th>Annset</th>
    <th>Id</th>
    <th>Type</th>
    <th>Object</th>
  </tr>

<% @insanns.each do |insann| %>
  <tr>
    <td><%= insann.annset %></td>
    <td><%= insann.id %></td>
    <td><%= insann.type %></td>
    <td><%= insann.object %></td>
  </tr>
<% end %>
</table>
