<%= render partial: 'side_contents' -%>

<p><%= @news_notification.body -%></p>

<% if root_user? -%>
  <%= link_to t('views.shared.edit'), edit_news_notification_path(@news_notification.id), class: 'button' -%>
  <%= link_to t('views.shared.delete'), news_notification_path(@news_notification.id), method: 'delete', confirm: t('controllers.shared.confirm_delete'), class: 'button' -%>
<% end -%>
