<%= render partial: 'side_contents' -%>

<div class="main-content">
  <%= render partial: 'news_notification', object: @news_notification -%>
</div>

<% if root_user? -%>
  <%= link_to t('views.shared.edit'), edit_news_notification_path(@news_notification.id), class: 'button' -%>
  <%= link_to t('views.shared.delete'), news_notification_path(@news_notification.id), method: 'delete', confirm: t('controllers.shared.confirm_delete'), class: 'button' -%>
<% end -%>
