<tr>
  <td><%= denotation[:id] %></td>
  <td>
    <%= span_link(doc, denotation[:span]) -%>
  </td>
  <td>denote</td>
  <td><%= denotation[:obj] %></td>
  <td class="spans_preview">
  	<%= body[denotation[:span][:begin]...denotation[:span][:end]] -%>
  </td>
</tr>
