<% if denotations.present? -%>
  <h3>Denotations</h3>
  <table class="ann">
    <tr>
      <th class='annotation_header_id'>Id</th>
      <th class='annotation_header_span'>Span</th>
      <th class='annotation_header_predicate'>Predicate</th>
      <th class='annotation_header_object'>Object</th>
    </tr>

    <%= render partial: 'denotations/denotation', collection: denotations, locals: {doc: doc, body: body} -%>
  </table>
<% else -%>
  <%= t('controllers.shared.not_exists', model: t('views.shared.annotation')) %>
<% end -%>