<table>
<tr><th style="text-align:left">
	<%= @doc.section %>
	<%= '(Title and Abstract)' if @doc.section == 'TIAB' %>
</th></tr>
<tr><td class="text"><%= @content.html_safe %></td><tr>
<tr>
  <td class="linkSpace"></td>
</tr>
</table>

<%= link_to t('views.shared.edit_model', :model => t('activerecord.models.doc')), edit_doc_path(@doc), :class => 'button'  if @doc.updatable_for?(current_user) -%>

<script>
  $('.text').linkToSelectedSpan('.linkSpace');
</script>
