<table style="width:100%">
<tr>
	<td class="text">
		<% if @span %>
			<div id="body" class="with_hilight"><%= @doc.highlight_span(@span).html_safe %></div>
		<% else %>
			<div id="body"><%= @doc.body %></div>
		<% end %>
	</td>
</tr>
<tr>
	<td id="linkSpace"></td>
</tr>
</table>

<%= link_to t('views.shared.edit_model', :model => t('activerecord.models.doc')), edit_doc_path(@doc), :class => 'button'  if @doc.updatable_for?(current_user) -%>

<script>
	$('#body').linkToSelectedSpan('#linkSpace');
	<% if @span %>
		// Scroll to and focus on the highlighted span
		$(document).ready(function() {
			var highlightedSpan = $('.highlight');
			if (highlightedSpan.length > 0) {
				// Make the span focusable by adding tabindex
				highlightedSpan.attr('tabindex', '-1');
				// Scroll to the element
				highlightedSpan[0].scrollIntoView({ behavior: 'smooth', block: 'center' });
				// Focus on the element
				highlightedSpan.focus();
			}
		});
	<% end %>
</script>
