<table style="width:100%">
<tr>
	<td class="text">
		<% if @span %>
			<div id="body" class="with_hilight"><%= @doc.highlight_span(@span).html_safe %></div>
		<% else %>
			<div id="body"><%= @doc.body %></div>
		<% end %>
	</td>
</tr>
<tr>
	<td id="linkSpace"></td>
</tr>
</table>

<%= link_to t('views.shared.edit_model', :model => t('activerecord.models.doc')), edit_doc_path(@doc), :class => 'button'  if @doc.updatable_for?(current_user) -%>

<script>
	$('#body').linkToSelectedSpan('#linkSpace');
</script>
