<% path ||= request.path %>
<span class='search-bar'>
<%= form_tag(path, method: 'get') do -%>
	<%= text_field_tag :keywords, params[:keywords],
		style: "width:7em",
		# placeholder: t('views.shared.keywords'),
		minlength: 2,
		required: true -%>
	<button type="submit" class="short-button" title="Search"><i class='fa fa-search' aria-hidden='true'></i></button>
<% end %>
</span>
