<% if sourcedb_counter == 0 -%>
	<ul>
<% end -%>
	
<li>
	<%= sourceid_index_link_helper(sourcedb) -%>
	<%= "(#{Doc.where(:sourcedb => sourcedb.sourcedb).count(:sourceid, :distinct => true)})" -%>
</li>

<% if sourcedb_counter == @sourcedbs.size-1 -%>
	</ul>
<% end -%>