<ul style="margin:0; margin-right:1em; padding:0; padding-left:1.5em">
	<% @docs_count_per_sourcedb.each do |sourcedb, docs_count| -%>
		<li><%= sourcedb %> (<%= docs_count %>)</li>
	<% end -%>
</ul>
