<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	> <%= link_to "docs", docs_path %>
	> sourcedb
<% end %>

<section>
	<h1>
		<%= t('views.docs.sourcedb_list')-%>
	</h1>

	<% cache 'sourcedb_counts' do -%>
		<%= render :partial => "docs/sourcedb_counts" -%>
	<% end %>
</section>