<%= render :partial => 'docs/path' -%>

<%= render :partial => 'shared/textae_css_js'-%>

<%= render :partial => 'shared/textae_div', locals:{target_json_url: "#{request.url}.json" } -%>

<% if @denotations.present? -%>
	<table>
		<tr>
			<th>
				Span
			</th>
		</tr>
		<% @denotations.each do | denotation | -%>
			<tr>
				<td>
					<%= spans_link_helper(@doc, denotation) -%>
				</td>
			</tr>
		<% end -%>
	</table>
<% end -%>
