<h1>Listing modanns</h1>

<table>
  <tr>
    <th>Annset</th>
    <th>Hid</th>
    <th>Type of modification</th>
    <th>Object of modification</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @modanns.each do |modann| %>
  <tr>
    <td><%= modann.annset_name %></td>
    <td><%= modann.hid %></td>
    <td><%= modann.modtype %></td>
    <td><%= modann.modobj_hid %></td>
  </tr>
<% end %>
</table>
