<h1>Modification annotations</h1>

<table class="ann">
  <tr>
    <th>Project</th>
    <th>Id</th>
    <th>Type</th>
    <th>Object</th>
  </tr>

<% @modanns.each do |modann| %>
  <tr>
    <td><%= modann.project %></td>
    <td><%= modann.id %></td>
    <td><%= modann.type %></td>
    <td><%= modann.object %></td>
  </tr>
<% end %>
</table>
