<% if user_signed_in? %>
  <h1>
    <%= t('views.home.index.my_projects') -%>
  </h1>
  <% if current_user.projects.present? -%>
    <% current_user.projects.order('updated_at DESC').each do |project| -%>
      <%= link_to project.name, project_path(project.name) -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% end -%>
  <% end -%>
<% end -%>
