<fieldset id="news">
  <legend><a href="http://www.pubannotation.org/news/">News</a></legend>
  <iframe sandbox seamless frameborder="0" width="100%" height="80px" src="http://www.pubannotation.org/news/contents/"></iframe>
</fieldset>