<fieldset id="news">
  <legend><a href="http://localhost:4000/news/">News</a></legend>
  <iframe sandbox seamless frameborder="0" width="450px" height="80px" src="http://localhost:4000/news/contents/"></iframe>
</fieldset>