<h2>Contents</h2>
<ul>
	<li><%= link_to "Documents", docs_path %></li>
	<ul>
		<li><%= link_to "PubMed documents", pmdocs_path %></li>
		<li><%= link_to "PMC documents", pmcdocs_path %></li>
	</ul>
	<li><%= link_to "Annotation sets", annsets_path %></li>
</ul>
<h2>Documentation</h2>
<ul>
	<li><a href="http://bionlp.dbcls.jp/redmine/projects/pubann">Overview</a></li>
	<li><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Features">Features</a></li>
	<li><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Format">Format</a></li>
</ul>
