<% content_for :path do %>
> <%= t('views.paths.home') %>
<% end %>

<h1>
	<span><%= t('views.shared.stored_in', :content => t('activerecord.models.doc').pluralize.capitalize, :pname => t('views.service.title')).html_safe %></span>
</h1>

<%= render :partial => "docs/source_db", collection: @source_dbs -%>

<%= render :partial => "projects/list", :locals => {:doc => nil, :projects => @projects, :scope => nil } %>
