<%= form_tag(add_project_docs_path(@project.name), :method => "post") do %>
	<%= select_tag :sourcedb, options_for_select(@sourcedbs),
		style: "width:7em" -%>
	<%= text_field_tag :ids, nil,
		style: "width:7em", :placeholder => t('activerecord.placeholders.doc.ids'), :required => true %>
	<button type="submit" class="short-button" title="<%= t('views.shared.add') %>"><i class="fa fa-plus" aria-hidden="true"></i></button>
<% end %>
