<span class="gear-icon">
	<div style="display: none" class="jobs-state-passer"><%= !@project.has_unfinished_jobs? %></div>
	<a href=<%= project_jobs_path(@project.name) %>>
		<span class = ''><%= icon_job(@project) %></span>
	</a>
</span>
