<span class="gear-icon" data-is-reload-necessary="<%= @project.has_unfinished_jobs? %>">
	<a href=<%= project_jobs_path(@project.name) %>>
		<span class = ''><%= icon_job(@project) %></span>
	</a>
</span>
