<%= form_tag(import_project_docs_path(@project.name), :method => "post") do %>
	<%= render partial: "select_project", locals: {placeholder: "project to import docs from"} %>
	<button type="submit" class="short-button" title="Import"><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
<% end %>
