<%= form_tag(projects_path, method: 'get', :style=>'display:inline-block') do -%>
  <%= text_field_tag 'grid[f][name]', params[:text], :required => true, :size => 10 -%>
	<button type="submit" class="short_button" title="Search"><i class='fa fa-search' aria-hidden='true'></i></button>
<% end -%>
