---
http_interactions:
- request:
    method: post
    uri: http://nlp.dbcls.jp/biosentencer/
    body:
      encoding: US-ASCII
      string: annotation=%7B%22text%22%3A%22sample_text%22%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"text":"sample_text","spans":[{"begin":0,"end":11,"category":"Sentence"}]}'
  recorded_at: Fri, 17 May 2013 06:20:51 GMT
recorded_with: VCR 2.4.0
