<html>
  <body>
    <script>
      window.onbeforeunload = parentReload;
      window.close();

      function parentReload() {
        window.opener.location.reload();
      }
    </script>
  </body>
</html>
