<section>
	<% unless @project.present? %>
		<h2><%= annotations[:project] -%></h2>
	<% end %>

	<%= render partial: 'denotations/denotations',
	  locals: {denotations:annotations[:denotations], doc: doc, body: body} -%>

	<%= render partial: 'relations/relations',
	  locals: {relations:annotations[:relations], doc: doc, body: body} -%>

	<%= render partial: 'modifications/modifications',
	  locals: {modifications:annotations[:modifications], doc: doc, body: body} -%>
</section>