<section>
	<% unless @project.present? %>
		<h2><%= link_to annotations[:project], project_path(annotations[:project]) -%></h2>
	<% end %>

	<% if annotations[:denotations].present? -%>
		<table class="ann">
			<%= render partial: 'denotations/denotations',
				locals: {denotations:annotations[:denotations], doc: doc, body: body} -%>
			<%= render partial: 'relations/relations',
				locals: {relations:annotations[:relations], doc: doc, body: body} -%>
			<%= render partial: 'modifications/modifications',
				locals: {modifications:annotations[:modifications], doc: doc, body: body} -%>
		</table>
	<% end %>
</section>