<h2>
	<%= project_textae[:project].name -%>
</h2>

<%
	if params[:sourcedb].present? && params[:sourceid].present? && params[:begin].present? && params[:end].present?
		@textae_json_url = spans_annotations_project_sourcedb_sourceid_docs_url(project_textae[:project].name, params[:sourcedb], params[:sourceid], params[:begin], params[:end])
		@textae_json_url += '.json'
	end
-%>
<%= render partial: 'shared/textae_div', locals: {target_json_url: @textae_json_url} if @textae_json_url.present? -%>
