<%= form_tag project_create_annotations_from_tgz_path(@project.name), multipart: true do -%>
	<label for="tgzfile">Upload a .tgz file (gzip compressed tar file) containing annotation json files:</label>
	<ol>
	<li><%= file_field_tag 'tgzfile', accept: 'application/x-gzip', required: true -%></li>
	<li>Choose Mode:
		<ul>
		<li><input type="radio" name="mode" value="replace" checked="checked">replace: <span class="info">the annotations to be uploaded will replace the existing ones. (the exsiting annotations will be deleted.)</span></input>
		<li><input type="radio" name="mode" value="add">add: <span class="info">the annotations to be uploaded will be added to the existing ones.</span></input>
		</ul>
	</li>
	<li><%= submit_tag t('views.shared.upload') -%></li>
	</ol>
<% end -%>
