<h2><%= visualize_track[:project] -%></h2>

<%
	annotation_url = url_for(only_path:false)
	annotation_url.sub!('/docs/', "/projects/#{visualize_track[:project]}/docs/")
	annotation_url.sub!('/visualize', '.json')
-%>

<%= render partial: 'shared/textae_div', locals: {target_json_url: annotation_url} if annotations_url.present? -%>
