<section>
  <div id="textae-wrapper-${ <%= visualize_track[:project] -%>}" class="textae-wrapper oneline" data-project-name="<%= visualize_track[:project] -%>">
    <h3>
      <%= link_to visualize_track[:project], project_path(visualize_track[:project]) -%>
      <i class="fa fa-minus-square remove-textae clickable-text" aria-hidden="true"></i>
    </h3>
    <div class="textae-editor oneline">
      <%= visualize_track.to_json %>
    </div>
    <div class="clear"></div>
  </div>
</section>
