<section>

	<% if @organization %>
		<%=
			if params[:project_id].present?
				@project = @organization
				render :partial => 'projects/titlebar'
			else
				@collection = @organization
				render :partial => 'collections/titlebar'
			end
		-%>
	<% end %>

	<section>

		<h1>Editing query template</h1>

		<%= render 'form' %>

		<%= link_to "List", organization_queries_path(@organization), class: 'button' %>
		<%= link_to 'Show', organization_query_path(@query), class: 'button' %>
	</section>

</section>
