<section>

	<% if @organization %>
		<%=
			if params.has_key? :project_id
				@project = @organization
				render :partial => 'projects/titlebar'
			else
				@collection = @organization
				render :partial => 'collections/titlebar'
			end
		-%>
	<% end %>

	<section>

		<h1>New query template</h1>

		<%= render 'form' %>

		<%= link_to "List", organization_queries_path(@organization), class: 'button' %>
	</section>

</section>