table.ann {
	text-align: center;

	tr.denotation {
		background-color: #f8f8ff;
	}

	tr.denotation:hover {
		background-color: #e8e8ff;			
	}


	tr.relation {
		background-color: #fff2f2;
	}

	tr.relation:hover {
		background-color: #ffe2e2;
	}


	tr.modification {
		background-color: #f0fff0;
	}

	tr.modification:hover {
		background-color: #e0ffe0;
	}

	th {
		text-align: center;
	}

	th:nth-child(n+6) {
		background-color: #66aaff;
	}

	td {
		text-align: center;
	}
}
