/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *=# require_tree .
 */

@font-face {  
  font-family: Gill-Sans-Bold;
  src: url("/assets/Gill Sans Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
    margin:0px;
/*    font-family:Arial, Helvetica, sans-serif;*/
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;
/*    font-family: "Comic Sans MS", cursive, sans-serif;*/
}

#header {
    position:relative;
    width:50em;

    /* fallback (Opera) */
    background: #AAEEBB;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #AAEEBB, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#AAEEBB), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#AAEEBB', EndColorStr='#FFFFFF', GradientType=1);
}

#title {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 900;
    font-size: x-large;
    color: #119911;
}

#slogan {
    margin-bottom:10px;
    font-family: Gill-Sans-Bold, fantasy, sans-serif;
    /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
    font-size: medium;
    font-style: italic;
    color: #22dd22;
}

#account, #language{
    position:absolute;
    bottom:8px;
    text-align:right;
    font-size:small;
}
#account {
    left:340px;
    /*right:3px;*/
}
#language{
    right: 50px;
}
table.menu {
    margin:0px;
    border:5px solid #AAEEAA;
    font-size:small;
}

.menu td {
    border:5px solid #AAEEAA;
}

#path {
    width:50em;
    margin:0px;
    padding: 0px 5px;
    font-size:x-small;
    font-style:italic;

    /* fallback (Opera) */
    background: #EECCCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #E5F8E5, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#E5F8E5), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#E5F8E5', EndColorStr='#FFFFFF', GradientType=1);
}

#notice {
    margin:0px 5px;
    font-size:small;
    color:red;
}

#main {
    margin:0px 5px
}

#footer {
    width:50em;
    margin:0px;
    margin-top:30px;
    padding:10px 0px;
    background:#DDDDDD;

    /* fallback (Opera) */
    background: #DDDDDD;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #DDDDDD, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#DDDDDD), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#DDDDDD', EndColorStr='#FFFFFF', GradientType=1);
}

.meta {
    color: #888888;
}

.pname {
    font-style: italic;
}

.credit {
    font-style:italic;
    text-align:center;
}
.capitalize{
	text-transform:capitalize;
}
.capitalize_first:first-letter{
	text-transform:capitalize;
}
h1 {
    width:43em;
    border-style:solid;
    border-color:#55FF55;
    border-width: 0px 0px 1px 10px;
    padding-left:2px;
    margin-top: 30px;
    font-size: medium;
}

h2 {
    width:37em;

    margin-top:20px;
    margin-bottom:10px;
    margin-left:8px;
    padding:0px 2px;

    border-style:solid;
    border-color:#AAFFBB;
    border-width:0px 0px 1px 10px;
    border-radius:10px;

    font-size: small;
}


h3 {
    width:30em;
    white-space:nowrap;

    font-size:small;
    font-weight:bold;
    /* fallback (Opera) */
    background: #EECCCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #00FF00, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear, left top, right top, from(#00FF00), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(  StartColorStr='#00FF00', EndColorStr='#FFFFFF', GradientType=1);
}

div.note {
    margin: 5px;
    font-style:italic;
    color:#555555;
}

p.note {
    font-style:italic;
}

span.note {
    font-size:small;
    font-style:italic;
}

a {
    text-decoration:none;
    color:#234979;
}

a:hover {
    color:#0071ff;
}

table {
    border-collapse:collapse;
    border:1px solid #C1DAD7;
    margin-top:5px;
    margin-bottom:5px;
}

th {
    border:1px solid #C1DAD7;
    padding:5px;
    text-align:center;
    font-weight:bold;
    background-color:#E2EBF0;
}

td {
    border:1px solid #C1DAD7;
    padding:5px;
    text-align:left;
}

td * {
    vertical-align: middle;
}

table.ann {
    text-align: center;
}

.ann th {
    text-align: center;

}

.ann td {
    text-align: center;
}


table.frame {
    width:600px;
    border-width:0px;
    text-align:left
}

.frame tr {
    border-width:0px;
}

.frame th {
    border-width:0px;
}

.frame td {
    border-width:0px;
}

.frame thead {
    text-align:right;
    font-style:italic;
}

.frame tbody {
}

.frame tfoot {
    padding-top:2cm;
    text-align:center;
    font-style:italic;
}

.frame th {
    text-align:left;
    background-color: #EECCCC
}

.frame th {
    /* fallback (Opera) */
    background: #EECCCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #00FF00, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#00FF00), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(  StartColorStr='#00FF00', EndColorStr='#FFFFFF', GradientType=1);
}

li {
    margin-top:5px;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    
    background-color:#ffffff;
    
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    
    border:1px solid #dcdcdc;
    
    display:inline-block;
    color:#666666;
    font-family:arial;
    font-size: smaller;
    padding:2px 12px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #ffffff;
    
}
.button:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    
    background-color:#f6f6f6;
}
.button:active {
    position:relative;
    top:1px;
}


.input {
    width:360px;
}

#path{
	text-transform: lowercase;
}
.ui-widget-content {
    border-width:0px 0px 0px 1px;
}
.ui-widget-content {
    border-width:0px 0px 0px 1px;
}
