/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *=# require_tree .
 */

@font-face {  
  font-family: Gill-Sans-Bold;
  src: url("/assets/Gill Sans Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
    margin:0px;
/*    font-family:Arial, Helvetica, sans-serif;*/
    font-family: Verdana, Geneva, sans-serif;
/*    font-family: "Comic Sans MS", cursive, sans-serif;*/
}

#header {
    position:relative;
    width:50em;

    /* fallback (Opera) */
    background: #CCFFCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #BBFFBB, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#BBFFBB), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#BBFFBB', EndColorStr='#FFFFFF', GradientType=1);
}

#title {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 900;
    font-size: xx-large;
    color: #119911;
}

#slogan {
    margin-bottom:10px;
    font-family: Gill-Sans-Bold, fantasy, sans-serif;
    /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
    font-size: large;
    font-style: italic;
    color: #33ee33;
}

#account {
    position:absolute;
    bottom:8px;
    left:340px;
    /*right:3px;*/
    text-align:right;
    font-size:small;
}

table.menu {
    margin:0px;
    border:5px solid #BBFFBB;
    font-size:medium;
}

.menu td {
    border:5px solid #BBFFBB;
}

#path {
    width:50em;
    margin:0px;
    padding: 0px 5px;
    font-size:small;
    font-style:italic;

    /* fallback (Opera) */
    background: #EECCCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #E5F8E5, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#E5F8E5), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#E5F8E5', EndColorStr='#FFFFFF', GradientType=1);
}

#notice {
    margin:0px 5px;
    font-size:medium;
    color:red;
}

#main {
    margin:0px 5px
}

#footer {
    width:50em;
    margin:0px;
    margin-top:30px;
    padding:10px 0px;
    background:#DDDDDD;

    /* fallback (Opera) */
    background: #DDDDDD;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #DDDDDD, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#DDDDDD), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#DDDDDD', EndColorStr='#FFFFFF', GradientType=1);

}

.meta {
    color: #888888;
}

.pname {
    font-style: italic;
}

.credit {
    font-style:italic;
    text-align:center;
}

h1 {
    width:43em;
    border-style:solid;
    border-color:#55FF55;
    border-width: 0px 0px 1px 10px;
    padding-left:2px;
    margin-top: 30px;
    font-size: large;
}

h2 {
    width:37em;

    margin-top:20px;
    margin-bottom:10px;
    margin-left:8px;
    padding:0px 2px;

    border-style:solid;
    border-color:#AAFFBB;
    border-width:0px 0px 1px 10px;
    border-radius:10px;

    font-size: medium;
}


h3 {
    width:30em;
    white-space:nowrap;

    font-size:small;
    font-weight:bold;
    /* fallback (Opera) */
    background: #EECCCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #00FF00, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear, left top, right top, from(#00FF00), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(  StartColorStr='#00FF00', EndColorStr='#FFFFFF', GradientType=1);
}

div.note {
    margin: 5px;
    font-style:italic;
    color:#555555;
}

p.note {
    font-style:italic;
}

span.note {
    font-size:small;
    font-style:italic;
}

a {
    text-decoration:none;
    color:#234979;
}

a:hover {
    color:#0071ff;
}

table {
    border-collapse:collapse;
    border:1px solid #C1DAD7;
    margin-top:5px;
    margin-bottom:5px;
}

th {
    border:1px solid #C1DAD7;
    padding:5px;
    text-align:center;
    font-weight:bold;
    background-color:#E2EBF0;
}

td {
    border:1px solid #C1DAD7;
    padding:5px;
    text-align:left;
}

table.ann {
    text-align: center;
}

.ann th {
    text-align: center;

}

.ann td {
    text-align: center;
}


table.frame {
    width:600px;
    border-width:0px;
    text-align:left
}

.frame tr {
    border-width:0px;
}

.frame th {
    border-width:0px;
}

.frame td {
    border-width:0px;
}

.frame thead {
    text-align:right;
    font-style:italic;
}

.frame tbody {
}

.frame tfoot {
    padding-top:2cm;
    text-align:center;
    font-style:italic;
}

.frame th {
    text-align:left;
    background-color: #EECCCC
}

.frame th {
    /* fallback (Opera) */
    background: #EECCCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #00FF00, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#00FF00), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(  StartColorStr='#00FF00', EndColorStr='#FFFFFF', GradientType=1);
}

li {
    margin-top:5px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */
.button {
    -webkit-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
    box-shadow:inset 0px 1px 0px 0px #fcf8f2;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fae4bd), color-stop(1, #eac380) );
    background:-moz-linear-gradient( center top, #fae4bd 5%, #eac380 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae4bd', endColorstr='#eac380');
    background-color:#fae4bd;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-weight:bold;
    padding:1px 6px;
    text-decoration:none;
    text-shadow:1px 1px 0px #cc9f52;
}.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eac380), color-stop(1, #fae4bd) );
    background:-moz-linear-gradient( center top, #eac380 5%, #fae4bd 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac380', endColorstr='#fae4bd');
    background-color:#eac380;
}.button:active {
    position:relative;
    top:1px;
}

.input {
    width:360px;
}