@import 'variables';

.meta {
  font-weight: normal;
  color: #888888;
}

.info {
  font-size: smaller;
  font-weight: normal;
  text-decoration: none;
}

.capitalize{
  text-transform:capitalize;
}

.capitalize_first:first-letter{
  text-transform:capitalize;
}

.project-title {
  display: inline-block;
  position: relative;
  padding: 4px;
  border-style: ridge;
  border-width: 5px;
  font-size: x-large;
  font-weight: bold;
  background: repeating-linear-gradient(
    45deg,
    #a0adec,
    #a0adec 10px,
    #96a2d8 10px,
    #96a2d8 20px
  );
}

.home_button {
  margin: 0;
  border-width: 0;
  vertical-align: bottom;
}

.badge {
  position: relative;
  top: -2px;
  margin: 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  font-family: "Courier New", Courier, "MS ゴシック", monospace;
  font-size: small;
  padding: 1px 2px;
  text-decoration: none;
  background-color: #ffeeee;
  border-color: red;
  color: red;
}

div.project-title h1 .badge {
  font-family: 'Lucida Sans Typewriter';
  font-size: medium;
  font-weight: bold;
  border-width: 3px;
  padding: 2px 4px;
}

.badge:first-of-type {
}

.pane {
  margin: 5px;
  padding: 5px 20px;
}
.pane legend {
  font-size: medium;
  font-weight: bold;
}

.pane.description {
  background-color: #ffffee;
}

.pane.documents {
  background-color: #eeffff;
}

.pane.annotations {
  background-color: #ffeeff;
}

section {
  margin: 0;
  border-width: 0;
  padding: 5px 5px 0 5px;
}

.project-title, h1, h2, h3, h4 {
  margin: 8px 0 8px -5px;
}

h1 {
  width: 450px;
  border:solid $main_color;
  border-width: 0px 0px 1px 7px;
  padding-left: 6px;
  font-family: sans-serif;
  font-size: large;
}

h1:first-letter{
  text-transform:capitalize;
}

h2 {
  white-space: nowrap;
  width:500px;
  padding:0px 2px 1px 4px;
  border: solid $main_color;
  border-width: 0 0 1px 7px;
  border-top-left-radius:7px;
  border-bottom-left-radius:7px;
  font-size: small;
}

h3 {
  position: relative;
  width:0.4em;
  white-space:nowrap;

  border-style: solid;
  border-color: $main_color;
  border-width: 0 0 0 1px;
  border-top-left-radius: 5px;
  padding: 0 8px;
  font-size: small;
  /* fallback (Opera) */
  background: $main_color;
  /* Mozilla: */
  background: -moz-linear-gradient(left, $main_color, #FFFFFF);
  /* Chrome, Safari:*/
  background: -webkit-gradient(linear, left top, right top, from($main_color), to(#FFFFFF));
  /* MSIE */
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='$main_color', EndColorStr='#FFFFFF', GradientType=1);
}

ul.note {
  margin: 0 20px;
  padding: 0;
}

ul.note li {
  margin: 0;
}

.note {
    font-size:small;
    font-style:italic;
}

a {
    text-decoration: none;
    color: $main_color;
}

a:hover {
  color: lighten($main_color, 40%);
}

table {
  border-collapse:collapse;
  margin: 5px 0;
}

table, th, td{
  border:1px solid $main_color;
}

table.full {
  table-layout: fixed;
  width: 100%;
}

table.full td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.view_options {
  display:inline-block;
  border-color:#FFFFFF;
}

th {
  padding: 5px;
  text-align: center;
  background-color: lighten($main_color, 30%);
  font-weight: normal;
  color: white;
  text-transform: capitalize;
}

th a {
  color: #eeeeff;
}

th a:hover {
  color: #aaaaff;
}

td {
  padding:5px;
  text-align:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.text {
  white-space: normal
}

td th {
  background-color: lighten($main_color, 50%);
}


table.ann {
    text-align: center;
}

.ann th {
    text-align: center;

}

.ann td {
    text-align: center;
}

li {
    margin-top:5px;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);

    background-color:#ffffff;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;

    border:1px solid #dcdcdc;

    display:inline-block;
    color:#222266;
    font-family:arial;
    font-size: small;
    font-weight: normal;
    padding: 2px 4px;
    text-decoration:none;

    text-shadow:0px 1px 0px #ffffff;
    cursor: pointer;
    min-width: 4.55em;
    text-align: center;
    text-transform: lowercase;
}

.long_button {
  min-width: 15em;
}

.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);

    background-color:#f6f6f6;
}
.button:active {
    position:relative;
    top:1px;
}

.button_disabled {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);

    background-color:#ffffff;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    border:1px solid #dcdcdc;

    display:inline-block;
    color:#cccccc;
    font-family:arial;
    font-size: smaller;
    padding:2px 12px;
    text-decoration:none;

    text-shadow:0px 1px 0px #ffffff;
    cursor: pointer;
}

h1 .control {
  margin-left: 5px;
}

.tab-bar{
  position: relative;
  top: -1px;
  margin-left: 0 6px;
  font-size: small;
  font-weight: normal;
  text-decoration: none;
}
.tab-bar .label{
  color: $sub_color;
  background-color: $main_color;
}
.tab {
  border: 1px solid $main_color;
  border-radius: 3px;
  padding: 1px 3px;
}

.active_tab {
  background-color: $sub_color;
}

.inactive_tab {
}

#path{
  /*text-transform: lowercase;*/
}

.ui-widget-content {
    border-width:0px 0px 0px 1px;
}

.ui-widget-content {
    border-width:0px 0px 0px 1px;
}

.sortable-th {
  padding-left: 15px;
  background: url(/assets/sort_asc.png) no-repeat 5px center $sub_color;
  text-align :left;
}

.sortable-a,
.sortable-a:visited {
  color:#234979 !important;
}

.sortable-a:after {
  content: ' ' url(/assets/sort_asc.png);
}

.sortable-ASC:after {
  content: ' ' url(/assets/sort_asc.png);  
}

.sortable-DESC:after {
  content: ' ' url(/assets/sort_desc.png);  
}

.spans_prev, 
.spans_next{
  color: #7D7D7D; 
}

.spans_preview{
  text-align: left !important; 
  font-style: italic; 
  color: #888888;  
}

.associate_username{
  margin: 0.2em 0;
}

.clickable-text{
  color:#234979 !important;
  cursor: pointer;
}

#documentation_cateogories{
  margin: 1em 0;
  padding: 0;
}
.documentation_cateogory{
  display: inline;
  padding: 0.2em 1em;
  border-right: 1px solid #ccc;
}
#documentation_body{
  width: 80%;
}
.show{
  display: block !important;
}
.zip_time_stamp{
  font-size: 80%;
  margin-left: 1em;
}
$indicator_size : 100px;
#Indicator{
  width: $indicator_size;
  height: $indicator_size;
  position:fixed;
  top:50%;
  left:50%;
  margin-top: -$indicator_size;
  margin-left: -$indicator_size/2;
  background: url(/assets/ajax-loader.gif) no-repeat center #000;
  opacity: 0.8;
  border-radius: 10px;
  margin-left:- ($indicator_size / 2) + px;
  margin-topt:- ($indicator_size / 2) + px;
  display: none;
  z-index: 9999;
}

.projects_header_name {
  width: 12em;
}

.projects_header_type {
  width: 2em;
}

.projects_header_annotations_count,
.projects_header_denotations_count,
.projects_header_relations_count {
  width: 6em;
}
.projects_header_date {
  width: 7em;
}
.projects_header_status {
  width: 6em;
}

.projects_header_author,
.projects_header_user{
  width: 8em;
}
#projects_search{
  width: 100%;
}

#projects_search input,
#docs_search input{
  width: 96%;
}

.docs_header_sourcedb {
  width: 7em;
}

.docs_header_sourceid {
  width: 7em;
}
.docs_header_projects_number{
  width: 5em;
}

.docs_header_annotations_number{
  width: 5em;
}

.docs_header_text {
  width: 15em
}

.annotation_header_id {width: 5em}
.annotation_header_span {width: 7em}
.annotation_header_predicate {width: 7em}
.annotation_header_object {width: 7em}

table.search .button {
  width: 60px;
}

td input[type=text], textarea {
  margin-left: 2px;
  margin-right: 2px;
}

td textarea {
  height: 5em;
}

div.oneline {
  float: left;
  white-space: nowrap;
}

.clear {
  clear: both;
}