@import 'variables';

.panel {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	width: 490px;

	h1 {
		width: 90%;
	}

	h2 {
		border: 0 none;
		margin: 0;
	}

	table {
		table-layout: fixed;
		width: 100%;
	}
}

#news_frame {
	width: 550px;
	margin: 5px;
	border: $main_color 1px solid;
	box-shadow: 2px 2px 2px;
	background-color: #fff0f0;
	ul {
		padding-left: 1em;
	}
}

#news_frame legend {
	font-family: sans-serif;
	font-size: medium;
	font-weight: bold;
}

#news {
	height:30px;
	overflow-y:scroll;
}

/* Responsive Stuff */
/* @media screen and (max-width: 568px) { */
@media screen and (max-width: 1018px) {
	.panel {
		width: 48%;
	}
}

@media screen and (max-width: $min_width_wide) {
	#news_frame {
		width: calc(99% - 30px);
	}
	.panel {
		width: 99%;
		display: block;
	}

	/* Stack anything that isn’t full-width on smaller screens */
	.grid .unit {
		width: 100% !important;
		padding-left: 20px;
		padding-right: 20px;
	}
	.unit .grid .unit {
		padding-left: 0px;
		padding-right: 0px;
	}
}
