.content {
	position: relative;
	margin: 0 auto;
	max-width: 1010px;
	text-align: left;
	padding: 5px;
}

.frame {
	position: relative;
	background-color: var(--main-color);
	color: #aaaaaa;
	a {
		color: #aaaaff;
	}
	a:hover {
		color: #ccccff;
	}
}

#footer {
	margin-top: 20px;
	clear: both;
}

#top-ribbon {
	background-color: var(--sub-color);

	.content {
		padding: 2px var(--base-padding);
	}
}

#path {
	font-size:x-small;
	font-style:italic;
}

#account {
	font-size:small;
	color: #fff;
	a {
		color: #fff;
	}
}

.menu {
	ul {
		display: inline;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline;
		margin-left: 0.5em;
	}
	a {
		background-color: var(--sub-color);
		border-radius: 3px;
		color: var(--main-color);
	}
}

#notice {
	text-align: left;
	font-size: small;
	color: red;
}
