@import 'variables';

.project-properties {
  table-layout:fixed;
  width: 100%;

  th {
    width: 6em;
  }

  td {
  }

  td.help-column {
    width: 1em;
  }
}

@media screen and (max-width: 440px) {
  .project-properties {
    width: 32em;
  }
}
