.project-title {
	background: repeating-linear-gradient(
		45deg,
		#a0adec,
		#a0adec 10px,
		#96a2d8 10px,
		#96a2d8 20px
	);
}

.wice-grid-title-row {
	th:last-of-type {
		width: 1.8em;
	}
}

#grid_filter_row {
	input,select {
		box-sizing: border-box;
		width: 100%;
	}
}

.projects-list table {
	table-layout:fixed;
	width: 100%;

	.column-project-name {
		width: 14em;
	}

	.column-project-description {
	}

	.column-project-number {
		width: 5em;
	}

	.column-project-author {
		width: 7em;
	}

	.column-project-user {
		width: 7em;
	}

	.column-project-updated {
		width: 7em;
	}

	.column-project-status {
		width: 6em;
	}
}

.column-button {
	width: 1.8em;
}

.column-project-type {
	width: 1.5em;
}

.column-project-type.sorted {
	width: 3em;
}


.project-properties {
	table-layout:fixed;
	width: 100%;

	th {
		width: 6em;
	}

	td {
	}

	td.help-column {
		width: 1.5em;
		text-align: center;
	}
}

.collections-pane {
	display: inline-block;
	legend {
		font-size:x-small;
	}
}

@media screen and (max-width: 850px) {
	.projects-list table {
		.column-project-name {
			width: 12em;
		}
	}
}
