// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.CodeMirror {
	border:1px solid #bbbbbb;
}

div.namespaces-box {
	border: 1px solid #bbbbbb;
	box-shadow: inset 1px 1px 1px black;
	padding: 5px;
}

div.namespace {
	display: inline-block;
	margin: 1px;
	border: 1px solid #aaaaaa;
	border-radius: 2px;
	padding: 2px;
	background-color: #fafafa;
}

div.project_object {
	display: inline-block;
	margin: 1px;
	border: 1px solid #aaaaaa;
	border-radius: 2px;
	padding: 2px;
	background-color: #fafafa;
}

#template {
	td {
		background-color: #def;
	}
	input {
		width: auto;
		border: 1px solid #aaa;
		background-color: #eff;
	}
}

.page_info {
	position: relative;

	.page_index {
		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 0;
			padding: 2px;
			font-size: small;
			font-weight: bold;
			a {
				font-weight: normal;
			}
		}

		li.page {
			border: 1px solid #15a;
		}
	}

	.num_solutions {
		position: absolute;
		right: 0;
	}
}