<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/application.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/gridism.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/header.css">
</head>

<body>
	{% include _header.html %}
	<div id="main">
	{{ content }}
	</div>
	<div id="footer">
	{% include _footer.html %}
	</div>
</body>

</html>
