<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/normalize.css" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/gridism.css" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/pygments.css" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/style.css" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/application.css" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/header.css" />

    <link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

    <script src="http://textae.pubannotation.org/vender/jquery.jsPlumb-1.5.2-min.js"></script>

    <script src="http://textae.pubannotation.org/lib/textae.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body class="wrap">
	<div id="header" class="frame">
		{% include _header.html %}
	</div>

	<div id="main">
		{{ content }}
	</div>

	<div id="footer" class="frame">
		{% include _footer.html %}
	</div>
</body>

</html>
