<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/normalize.css" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/gridism.css" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/pygments.css" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/style.css" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/application.css" />
	<link rel="stylesheet"    href="{{ site.baseurl }}/css/header.css" />
</head>

<body>
		{{ content }}
</body>

</html>
